<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="wftp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="wftp.Perspective"
            icon="icons/server.png"
            id="wftp.Perspective"
            name="WFTP透视图">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="wftp.views"
            class="wftp.views.RemoteView"
            icon="icons/server.png"
            id="wftp.views.RemoteView"
            name="远程目录">
      </view>
      <view
            category="wftp.views"
            class="wftp.views.LocalView"
            icon="icons/house.png"
            id="wftp.views.LocalView"
            name="本地目录">
      </view>
      <view
            category="wftp.views"
            class="wftp.views.ConnView"
            icon="icons/server_connect.png"
            id="wftp.views.ConnView"
            name="连接收藏">
      </view>
      <view
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            icon="icons/pview.gif"
            id="org.eclipse.ui.views.ProgressView"
            name="进度栏">
      </view>
      <category
            id="wftp.views"
            name="WFTP视图">
      </category>
   </extension>
   
   <extension
         name="控制台"
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="wftp.console.ConsoleFactory"
            icon="icons/application_xp_terminal.png"
            label="WFTP控制台">
      </consoleFactory>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="wftp.application"
            name="wftp">
         <property
               name="appName"
               value="wftp">
         </property>
         <property
               name="windowImages"
               value="icons/WFTP_16.gif,icons/WFTP_32.gif">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutText"
               value="欢迎使用wftp.&#x0A;wftp以eclipse rcp的形式开发.&#x0A;历时: 2010/11/05 - 2010/12/16.&#x0A;仅以此纪念我在甘肃兰州出差的日子.&#x0A;您可以自由使用wftp,希望将您在使用&#x0A;中发现的bug或者一些好的建议告知我.&#x0A;谢谢!&#x0A;&#x0A;联系我:&#x0A;email : peng.wu@foxmail.com&#x0A;qq : 378150060&#x0A;&#x0A;&#x0A;----------------------华丽的分割线---------------------&#x0A;至高的SUN,伟大的IBM. All right reserved.">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="aboutImage"
               value="icons/about.png">
         </property>
      </product>
   </extension>
   <extension point="org.eclipse.ui.bindings">
	    <key
	          commandId="wftp.upward"
	          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
	          sequence="Backspace">
	    </key>
    </extension>

    <extension
          point="org.eclipse.ui.commands">
        <command
              id="wftp.upward"
              name="上级">
        </command>
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="wftp.WftpPreference"
             id="wftp.WftpPreference"
             name="WFTP首选项">
       </page>
    </extension>
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="wftp.Perspective">
          <viewShortcut
                id="wftp.views.ConnView">
          </viewShortcut>
          <viewShortcut
                id="wftp.views.LocalView">
          </viewShortcut>
       </perspectiveExtension>
    </extension>

</plugin>
